@import "tailwindcss";

:root {
  --background:  #ffffff;
  --foreground:#000000;
  --brand:#C3EB79;
  --green-brand: #62C455;
  --red-brand: #ED6A5F;
  --yellow-brand: #F5BE4F;
  --vs-code-1: #25292F;
  --vs-code-2: #202428;
  --vs-code-number: #6A6A6A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --brand:#C3EB79;
    --green-brand: #62C455;
    --red-brand: #ED6A5F;
    --yellow-brand: #F5BE4F;
    --vs-code-1: #25292F;
    --vs-code-2: #202428;
    --vs-code-number: #6A6A6A;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-red-brand: var(--red-brand);
  --color-green-brand: var(--green-brand);
  --color-yellow-brand: var(--yellow-brand);
  --color-vs-code-1: var(--vs-code-1);
  --color-vs-code-2: var(--vs-code-2);
  --color-vs-code-number: var(--vs-code-number);
}

