@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #161616;
  --green:#16A34A;
  --accent: #B0B0B0;
  --tertiary: #F7F7F7;
  --border: #E4E4E7
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --brand:#C3EB79;
    --green-brand: #62C455;
    --red-brand: #ED6A5F;
    --yellow-brand: #F5BE4F;
    --vs-code-1: #25292F;
    --vs-code-2: #202428;
    --vs-code-number: #6D6D6D;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --color-red-brand: var(--red-brand);
  --color-green-brand: var(--green-brand);
  --color-yellow-brand: var(--yellow-brand);
  --color-vs-code-1: var(--vs-code-1);
  --color-vs-code-2: var(--vs-code-2);
}

